
.chpsdadjuster{
    margin:90px 90px 150px 180px; 
}


.thumbnail{ 
   display: inline-block;
   width: 45%; 
   float:left;
   text-align: left;
   margin:5px; 
}
h1 {
    margin-top:50px; 
}
.righter{
    float: right;
    text-align: right;
}