<!--<app-header></app-header>-->
<app-commonheader></app-commonheader>
<!-- Top content -->
<div class="top-content">
    <div class="loginbox">
        <div class="container">

            <div class="col-sm-4 col-sm-offset-4 loginbg">
                <div class="form-top">
                    <h3>Login</h3>
                </div>
                 <p class="error">{{errorMessage}} </p>
                <div class="form-bottom">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="width100">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">Username is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                            </div>
                        </div>
                        <br>
                     
                       
<!--                        <div class="form-group">
                            <select class="selector selectoropt col-xs-8">
                                <option>Time series Forecasting</option>
                                <option>Weather parameters prediction</option>
                            </select>
                        </div>-->
                        <br>

                        <div class="form-group">
                            <button [disabled]="loading" class="btn btn-success lgnadjuster">Login</button>
                            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                            <!--        <a [routerLink]="['/register']" class="btn btn-link">Register</a>-->
                        </div>
                        <hr />
                        <div class="form-group text-center">
                            <a href="#">Forgot Password ?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
<!--<app-footer></app-footer>-->

<!-- Footer Section -->
<!--
<div id="footer" class="footer">
  <div class="container text-center">
    <p>&copy; © 2018 Inspirage. All rights reserved. <a href="http://www.inspirage.com" rel="nofollow">Inspirage</a></p>
  </div>
</div>-->